.frame {
  margin-right: 5px;
  margin-top: 30px;
}
/* iframe{ 
  width:800px;
  height: 1300px;
} */
@media screen and (orientation: portrait){
  iframe{
    display: none;
  }
  #for-vertical h3{
    color: #fff;
    font-size: 3rem;
    margin-top: 50%;
  }
  #for-vertical img {
      margin-top: 50px !important;
      animation-duration: 3s;
      animation-name: rotar45;
      animation-iteration-count: infinite;
      animation-direction: alternate;

    }
  @keyframes rotar45 {
    from { 
      transform: rotate(0deg); 
    } to { 
        transform: rotate(-90deg); 
    }
}
}
@media screen and (orientation: landscape) {

  #for-vertical{
    display: none;
  }
  .frame {
    position: absolute;
    top: 5px;
    right: 0px;
    margin-top: 0px !important;
  }
  iframe{ 
    width:100%;
    height: 100%;
  }
  canvas {
    width: 100%;
    margin: 0px !important;
  }
}
